.bills-page {
  display: flex;
  height: 100vh;
}

.bill-tables {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  width: 100%;
}

/* Styles for the custom table */
.custom-table {
  border-collapse: collapse;
  width: 100%;
}

/* Styles for table headers */
.table-header {
  background-color: #032a3e;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Styles for table rows */
.custom-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Styles for table cell (td) */
.custom-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Hover effect for table rows */
.custom-table tbody tr:hover {
  background-color: #be3529;
  color: #fff;
}

.paid {
  outline: #032a3e;
  color: green;
}

.edit {
  cursor: pointer;
  font-size: 18px;
}

.delete {
  cursor: pointer;
  font-size: 18px;
}

.bill-icon {
  padding-right: 30px;
}

.bill-paid {
  display: flex;
  align-items: center;
}

.check-button {
  background-color: transparent;
  border: 1px solid #032a3e; /* Add your preferred border styles */
  padding: 5px 10px;
  cursor: pointer;
}

.check-button.checked {
  background-color: green; /* Add your preferred background color for the checked state */
  color: #fefefe; /* Text color for checked state */
  border: 1px solid green; /* Border color for checked state */
}

.bill-btn {
  margin-top: 20px;
  width: 150px;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal appears above other elements */
}

.modal-content {
  background-color: #fefefe; /* Background color for the modal content */
  box-shadow: -1px 5px 29px 1px rgba(0, 0, 0, 0.28);
  border-radius: 7px;
  padding: 20px;
  width: 400px; /* Adjust the width as needed */
}

/* Form Styles */
.modal-content form {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #032a3e; /* Text color */
}

.modal-content input,
.modal-content select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #032a3e; /* Input border color */
  border-radius: 5px;
}

/* Button Styles */
.modal-content button {
  padding: 10px 20px;
  background-color: #be3529; /* Button background color */
  color: #fefefe; /* Button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.modal-content button:hover {
  background-color: #032a3e; /* Button background color on hover */
}

input[type="date"] {
  font-family: inherit; /* Inherit font family from parent */
  /* Add other styling as needed */
}

.bills-btns {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.reset-btns {
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.input-div {
  display: flex;
  flex-direction: column;
}

.optional {
  font-size: 12px;
  margin-top: -10px;
}
.recur-btn {
  width: 300px;
}

.delete-bill {
  text-align: center;
}
