.budget-page {
  display: flex;
  position: relative;
  width: 100%;
}

.welcome {
  font-size: 3rem;
  position: absolute;
  top: -40px;
}
.budget-card {
  display: flex;
  flex-direction: column;
  width: 400px;
  box-shadow: -1px 5px 29px 1px rgba(0, 0, 0, 0.28);
  border-radius: 7px;
}

.create-budget-container {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}
.create-budget-title {
  text-align: center;
}

.budget-section {
  width: 100%;
  padding-right: 8px;
}

.budget-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin: 0 auto;
  justify-items: center; /* Center cards horizontally within each grid cell */
  padding-bottom: 30px;
}

.existing {
  font-size: 2rem;
}

.budgets-card {
  box-shadow: -1px 5px 29px 1px rgba(0, 0, 0, 0.28);
  border-radius: 7px;
}

.budgets-cards {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding-right: 10px;
}
