.menu {
  width: 200px;
  background-color: rgba(128, 128, 128, 0.461);
  height: 100%;
  margin-right: 20px;
}

.menu-option {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}

.menu-option:hover {
  color: #fefefe;
  background-color: #be3529;
}

.menu-icon {
  font-size: 20px;
  margin-right: 6px;
}
