.calendar {
  width: 100%;
  padding-right: 10px;
}

.reminder-title {
  font-size: 4rem;
  font-weight: 500;
  margin-top: -20px;
}

.reminder {
  padding: 10px;
  border: 1px solid #032a3e;
  border-radius: 5px;
}

.reminder:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.341);
}
